<head>
    <meta charset="UTF-8">
    <title>Karina's Style</title>
    
    <!-- Metatags para redes sociales (Open Graph) -->
    <meta property="og:description" content="Tienda de ropa a la moda, en nuestro distrito de San Vicente.">
</head>

<section class="home-container">
  <div class="option-card" routerLink="/garments">
    <mat-icon>checkroom</mat-icon>
    <span>Prendas</span>
  </div>

  <div class="option-card" routerLink="/suppliers">
    <mat-icon>inventory_2</mat-icon>
    <span>Proveedores</span>
  </div>
</section>